
@media(max-width:50em){
    .left{
      display: none;
    }
    .grid{
        grid-template-columns: 35rem;
    }
    .right{
        margin: auto;
        min-width: 35rem;
    }

  
  }


@media(max-width:35em){
    .grid{
        grid-template-columns: 1fr;
        padding: 0;
        /* margin: 0; */
        padding: 20px;
       
    }
    .width-equal{
        min-width: 35em;
      
    }
    .right-top,
    .right-bottom{
        background-color: #fafafa;
        border: none;
        border-radius: 0;
        /* margin: 0;
        padding: 0; */
      
    }
    .margin-auto{
        width: 20em;
        margin: auto;
        padding-left: 100px;
    }
    footer{
        display: none;
    }
    .input-box {
        width: 80%;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #fafafa;
        border: 1px solid #dedede;
        border-radius: 2px;
      }
    body{
       background-color: none;
        padding: 0;
        margin: 0;
    }
    .button {
        width: 80%;

      }
      .divider{
        width: 80%;
      }
          header{
        /* width: 60rem !important; */
        width: 100%;
        /* margin: 0 auto; */
       
      
    }

}

/* @media(max-width:20em){
    .grid{
        grid-template-columns: 1fr;
       
    }
    .right-top,
    .right-bottom{
        background-color: #fafafa;
        border: none;
        border-radius: 0;
    }
    footer{
        display: none;
    }

} */
