
@media(max-width:50em){
    .left{
      display: none;
    }
    .grid{
        grid-template-columns: 35rem;
    }
    .right{
        margin: auto;
        min-width: 35rem;
    }

  
  }

@media(max-width:35em){
    .grid{
        grid-template-columns: 1fr;
       
    }
    .right-top,
    .right-bottom{
        background-color: #fafafa;
        border: none;
        border-radius: 0;
    }
    footer{
        display: none;
    }

}
@media(max-width:20em){
    .grid{
        grid-template-columns: 1fr;
       
    }
    .right-top,
    .right-bottom{
        background-color: #fafafa;
        border: none;
        border-radius: 0;
    }
    footer{
        display: none;
    }

}
